<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Parâmetros de Configuração-->
		<add key="browser" value="Chrome" />
		<add key="uri" value="http://localhost:4444/wd/hub" />
		
		<!--Parâmetros de Aplicação-->
		<add key="cpfInvalido" value="927.399.360-00" />
		<add key="cpfValido" value="927.399.360-52" />
		</appSettings>
</configuration>